<div class="container mt-2 w-medium bg-default rounded-lg shadow-lg p-4">
  <p class="text-lg">You can leave your comments and feedback here =)</p>  
  <%= form_with model: @guestpost, url: guest_posts_path, local: true do |f| %>
    <div class="flex flex-col mt-4">
      <%= f.label :avatar, class: "label font-bold text-gray-700 mb-1" %>
      <%= f.file_field :avatar,
        class: "input input-bordered text-secondary rounded-lg w-full",
        placeholder: "Upload a nice photo that is not too risquee" %>
    </div>

    <div class="flex flex-col mt-4">
      <%= f.label :author, class: "label font-bold text-gray-700 mb-1" %>
      <%= f.text_field :author, 
        class: "input input-bordered text-secondary rounded-lg w-full", 
        placeholder: "Your name or nickname" %>
    </div>

    <div class="flex flex-col mt-4">
      <%= f.label :title, class: "label font-bold text-gray-700 mb-1" %>
      <%= f.text_field :title, 
        class: "input input-bordered rounded-lg w-full text-secondary", 
        placeholder: "Title of your post" %>
    </div>

    <div class="flex flex-col mt-4">
      <%= f.label :body, class: "label font-bold text-gray-700 mb-1" %>
      <%= f.text_area :body, 
        class: "textarea textarea-bordered rounded-lg w-full placeholder:text-gray-400 h-32 text-secondary", 
        placeholder: "Write your message here..." %>
    </div>

    <div class="flex flex-col mt-4">
      <%= f.submit "Post", class: "btn btn-outline btn-accent w-full rounded-lg" %>
    </div>
  <% end %>

  <h2 class="mt-8 text-xl font-bold">Previous Posts</h2>
  <div class="mt-4 mb-4">
    <% @guestposts.each do |post| %>
      <div class="hover:bg-neutral shadow-md rounded-md p-4 mb-4">
        <div class="flex pb-2">
          <div>
            <span class="text-lg text-secondary"> <%= post.author %> </span> 
            <span class="text-sm text-neutral-content"> • <%= post.updated_at.strftime("%d %b %Y") %> </span> 
          </div>
        </div>

        <% if post.avatar %>
          <%= image_tag post.avatar, class: "rounded-lg" %>
        <% end %>

        <div class="pb-2">
          <h2 class="text-2xl font-medium mb-2"> <%= post.title %> </h2>
          <p class="text-lg text-neutral-content leading-tight max-h-60 overflow-y-auto">
            <%= post.body %>
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
