<div class="container w-medium">
  <% @projects.each do |project| %>
    <div class="hover:bg-neutral rounded-md overflow-hidden p-4 mt-8 mb-16">
      <div class="flex-col">
        <h2 class="text-2xl font-medium capitalize"> <%= project.title %> </h2>

        <a target="_blank" href="<%= project.project_url %>"
          class="text-secondary hover:text-gray-600 focus:outline-none">
          <span class="text-medium"> Go to project </span> <i class="fa-solid fa-link"></i>
        </a>

        <p class="text-primary mb-2"> <%= project.stack %> </p>

        <p class="text-lg text-neutral-content leading-tight">
          <%= project.body %>
        </p>
      </div>

      <div class="mockup-browser border-accent-content border mt-4">
        <div class="mockup-browser-toolbar">
          <div class="input border-base-300 border">
            <a target="_blank" href="<%= project.project_url %>"
              class="text-neutral-content hover:text-gray-600 focus:outline-none">
                <%= project.project_url %>
            </a>
          </div>
        </div>
        <div class="border-accent-content flex justify-center border-t">
          <img src="<%= project.image_url %>" alt="project picture" class="w-fit">
        </div>
      </div>
    </div>
  <% end %>
</div>
