<!DOCTYPE html>
<html data-theme="dim">
  <head>
    <title>Vitória Calvi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= favicon_link_tag 'calvitoria.png', type: 'image/png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/49ad6a32f0.js" crossorigin="anonymous"></script>
  </head>

  <body class="">
    <main class="container w-default">
      <%= render 'layouts/banner' %>
      <%= render 'layouts/about' %>
      <%= render 'layouts/tabs' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </main>
  </body>
</html>
